/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : Axel
*/

.catb {
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid;
}

.catb:hover {
    background-color: gold;
    cursor: pointer;
}

.catb:active {
    background-color: white;
    cursor: pointer;
}

.prodb {
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid;
    padding: 10px;
}
.prodb:hover {
    background-color: gold;
    cursor: pointer;
}

.prodb:active {
    background-color: white;
    cursor: pointer;
}

.prodtab {
    border: 1px solid black;
    text-align: left;
    width: 50%;
}

.prodl {
    border-bottom: 2px solid gray;
}

#toptable {
    width: 100%;
}

#produits {
    width: 100%;
}

#log {
    position: absolute;
    right: 10px;
    margin-bottom: 30px;
}